@keyframes loading {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #878787;
  }
  100% {
    background-color: #fff;
  }
}

.wrapper {
  position: relative;
  width: 100%;

  .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: loading 1s infinite;
  }

  .image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


